h1, form {
    text-align: center;
    font-size: 22px;
    border-radius: 10px;
    }

html {  
    background-color: blue;
    font-size: 20px;
}
body {  
    background-color: darkgrey;
    font-size: 20px;
}
button {  
    background-color: goldenrod;
    color: black;
    font-size: 20px;

}